<div class="col-sm-10 articles">
	<table class="table forPagination">
		<thead>
			<tr>
				<th>
					<a href="#"><span class="headBlock">所有</span></a>
					<a href="#/share"><span class="headBlock">分享</span></a>
					<a href="#/qanda"><span class="headBlock">问答</span></a>
					<a href="#/employ"><span class="headBlock">招聘</span></a>
					<a href="#/news"><span class="headBlock">新闻</span></a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="currentPageTopic in currentPageTopics" ng-class-odd="'odd'" ng-class-even="'even'">
				<td><img ng-src="{{currentPageTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="currentPageTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="currentPageTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="currentPageTopic.block"></span>&nbsp;&nbsp;<a href="#/showTopic?topicId={{currentPageTopic._id}}"><span ng-bind="currentPageTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{currentPageTopic.finalCommenterImg}}" width="20" height="20" ng-show="currentPageTopic.showFinalImg">&nbsp;&nbsp;&nbsp;<span ng-bind="currentPageTopic.timeDValue"></span></small></td>
			</tr>
		</tbody>
	</table>
	<nav>
		<ul class="pagination">
		    <li><a class="noHrefA" ng-click="getPage(1)">&laquo;</a></li>
		    <li><a class="noHrefA" ng-repeat="currentPage in currentPages" ng-click="getPage(currentPage)"><span ng-bind="currentPage"></span></a></li>
		    <li><a class="noHrefA" ng-click="getPage(pageLength)">&raquo;</a></li>
		</ul>
	</nav>
</div>
<div class="col-sm-2 sidebar">
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<div ng-hide="authed" class="marginTB">
			<p style="color: #faa">CSbbs:计科人的社区</p>
			<br>
			<p>您可以选择<a href="#/login">登录</a>或<a href="#/register">注册</a></p>.
		</div>
		<div ng-show="authed" class="marginTB">
			<p>个人信息:</p>
			<a href="#/userInfo?username={{current_user}}"><img src="{{user_image_url}}" ng-show="showImage" width="40" height="40"></a><span ng-bind="current_user"></span>
			<br><br>
			<span ng-bind="current_user_sign"></span>
			<br>
			<a href="#/postTopic"><button class="btn btn-warning postTopicBtn">发布话题</button></a>
			<br>
		</div>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<h5>无人回复的问题</h5>
		<hr class="addComment">
		<ul class="noStyle">
			<li ng-repeat="noReplyTopic in noReplyTopics"><a href="#/showTopic?topicId={{noReplyTopic._id}}" class="noReplyTopic">•<span ng-bind="noReplyTopic.title"></span></a></li>
		</ul>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<h5>友情链接</h5>
		<hr class="addComment">
		<ul class="noStyle noStyleUl">
			<li><a href="http://stackoverflow.com/" target="_blank"><img src="app/images/stackoverflow.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://github.com/" target="_blank"><img src="app/images/github.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://ruby-china.org/" target="_blank"><img src="app/images/rubychina.png" alt="" class="friendlyLink"></a></li>
			<li><a href="https://www.v2ex.com/" target="_blank"><img src="app/images/v2ex.jpg" alt="" class="friendlyLink"></a></li>
		</ul>
		<br>
	</div>
</div>