<!--<script type="text/javascript">
	/*var a = 3;
	function b(){
		console.log(a + ' will add itself');
		a++;
		a++;
	}
	b();
	console.log(a);*/
	/*var a = 3;
	function b(){
		console.log(a + ' will add itself');
		a++;
		a++;
		function c(){
			console.log(a + 'will reduce itself');
			a--;
		}
		c();
	}
	b();
	console.log(a);*/
</script>-->
<div class="col-sm-10 articles noPadding">
	<div class="withPadding">
		<h4 class="userInfoH">个人信息</h4>
		<hr class="userInfoHr">
		<img ng-src="{{theUser.imageUrl}}" width="40" height="40">&nbsp;<span ng-bind="theUser.username"></span>
		<br><br>
		<span class="prCount">发表话题个数: <span ng-bind="postCount"></span></span>
		<br><br>
		<span class="prCount">回复话题个数: <span ng-bind="replyCount"></span></span>
		<br><br>
		<span class="prCount">加入CSbbs时间: {{theUser.signDate | date:"h:mma 'on' MMM d, y"}}</span>
		<br><br>
	</div>
	<div class="mid">
		
	</div>
	<div class="withPadding">
		<table class="table">
			<thead>
				<tr>
					<th>创建的话题</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="postTopic in postTopics | orderBy: 'oldDate':true" ng-class-odd="'odd'" ng-class-even="'even'">
					<td><img ng-src="{{postTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="postTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="postTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="postTopic.block"></span>&nbsp;&nbsp;&nbsp;<a href="#/showTopic?topicId={{postTopic._id}}"><span ng-bind="postTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{postTopic.finalCommenterImg}}" width="20" height="20" ng-show="postTopic.showFinalImg">&nbsp;&nbsp;&nbsp;<span ng-bind="postTopic.timeDValue"></span></small></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mid">
		
	</div>
	<div class="withPadding">
		<table class="table">
			<thead>
				<tr>
					<th>回复过的话题</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="replyTopic in replyTopics | orderBy: 'oldDate':true" ng-class-odd="'odd'" ng-class-even="'even'">
					<td><img ng-src="{{replyTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="replyTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="replyTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="replyTopic.block"></span>&nbsp;&nbsp;&nbsp;<a href="#/showTopic?topicId={{replyTopic._id}}"><span ng-bind="replyTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{replyTopic.finalCommenterImg}}" width="20" height="20" ng-show="replyTopic.showFinalImg">&nbsp;&nbsp;<span ng-bind="replyTopic.timeDValue"></span></small></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mid" ng-show="showColl">
		
	</div>
	<div class="withPadding" ng-show="showColl">
		<table class="table">
			<thead>
				<tr>
					<th>收藏的话题</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="collTopic in collTopics | orderBy: 'oldDate':true" ng-class-odd="'odd'" ng-class-even="'even'">
					<td><img ng-src="{{collTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="collTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="collTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="collTopic.block"></span>&nbsp;&nbsp;&nbsp;<a href="#/showTopic?topicId={{collTopic._id}}"><span ng-bind="collTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{collTopic.finalCommenterImg}}" width="20" height="20" ng-show="collTopic.showFinalImg">&nbsp;&nbsp;<span ng-bind="collTopic.timeDValue"></span></small></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="col-sm-2">
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<div class="marginTB">
			<p>个人信息:</p>
			<a href="#/userInfo?username={{theUser.username}}"><img ng-src="{{theUser.imageUrl}}" width="40" height="40"></a><span ng-bind="theUser.username"></span>
			<br><br>
			<span ng-bind="theUser.sign"></span>
			<!--<a href="#/postTopic"><button class="btn btn-warning postTopicBtn">发布话题</button></a>-->
			<br>
		</div>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<h5>友情链接</h5>
		<hr class="addComment">
		<ul class="noStyle">
			<li><a href="http://stackoverflow.com/" target="_blank"><img src="app/images/stackoverflow.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://github.com/" target="_blank"><img src="app/images/github.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://ruby-china.org/" target="_blank"><img src="app/images/rubychina.png" alt="" class="friendlyLink"></a></li>
			<li><a href="https://www.v2ex.com/" target="_blank"><img src="app/images/v2ex.jpg" alt="" class="friendlyLink"></a></li>
		</ul>
		<br>
	</div>
</div>