<!--<script type="text/javascript">
	/*var a = 3;
	function b(){
		console.log(a + ' will add itself');
		a++;
		a++;
	}
	b();
	console.log(a);*/
	/*var a = 3;
	function b(){
		console.log(a + ' will add itself');
		a++;
		a++;
		function c(){
			console.log(a + 'will reduce itself');
			a--;
		}
		c();
	}
	b();
	console.log(a);*/
</script>-->
<div class="col-sm-10 articles noPadding">
	<div class="withPadding">
		<h4 class="userInfoH">个人信息</h4>
		<hr class="userInfoHr">
		<img ng-src="{{theUser.imageUrl}}" width="40" height="40">&nbsp;<span ng-bind="theUser.username"></span>
		<br><br>
		<span class="prCount">发表话题个数: <span ng-bind="postCount"></span></span>
		<br><br>
		<span class="prCount">回复话题个数: <span ng-bind="replyCount"></span></span>
		<br><br>
		<span class="prCount">加入CSbbs时间: {{theUser.signDate | date:"h:mma 'on' MMM d, y"}}</span>
		<br><br>
	</div>
	<div class="mid">
		
	</div>
	<div class="withPadding">
		<table class="table">
			<thead>
				<tr>
					<th>创建的话题</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="currentPostTopic in currentPostTopics" ng-class-odd="'odd'" ng-class-even="'even'">
					<td><img ng-src="{{currentPostTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="currentPostTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="currentPostTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="currentPostTopic.block"></span>&nbsp;&nbsp;&nbsp;<a href="#/showTopic?topicId={{currentPostTopic._id}}"><span ng-bind="currentPostTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{currentPostTopic.finalCommenterImg}}" width="20" height="20" ng-show="currentPostTopic.showFinalImg">&nbsp;&nbsp;&nbsp;<span ng-bind="currentPostTopic.timeDValue"></span></small></td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
			    <li><a class="noHrefA" ng-click="getPage(1)">&laquo;</a></li>
			    <li><a class="noHrefA" ng-repeat="currentPage in currentPages1" ng-click="getPage(currentPage)"><span ng-bind="currentPage"></span></a></li>
			    <li><a class="noHrefA" ng-click="getPage(pageLength1)">&raquo;</a></li>
			</ul>
		</nav>
	</div>
	<div class="mid">
		
	</div>
	<div class="withPadding">
		<table class="table">
			<thead>
				<tr>
					<th>回复过的话题</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="currentReplyTopic in currentReplyTopics" ng-class-odd="'odd'" ng-class-even="'even'">
					<td><img ng-src="{{currentReplyTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="currentReplyTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="currentReplyTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="currentReplyTopic.block"></span>&nbsp;&nbsp;&nbsp;<a href="#/showTopic?topicId={{currentReplyTopic._id}}"><span ng-bind="currentReplyTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{currentReplyTopic.finalCommenterImg}}" width="20" height="20" ng-show="currentReplyTopic.showFinalImg">&nbsp;&nbsp;<span ng-bind="currentReplyTopic.timeDValue"></span></small></td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
			    <li><a class="noHrefA" ng-click="getPage(1)">&laquo;</a></li>
			    <li><a class="noHrefA" ng-repeat="currentPage in currentPages2" ng-click="getPage(currentPage)"><span ng-bind="currentPage"></span></a></li>
			    <li><a class="noHrefA" ng-click="getPage(pageLength2)">&raquo;</a></li>
			</ul>
		</nav>
	</div>
	<div class="mid" ng-show="showColl">
		
	</div>
	<div class="withPadding" ng-show="showColl">
		<table class="table">
			<thead>
				<tr>
					<th>收藏的话题</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="currentCollTopic in currentCollTopics" ng-class-odd="'odd'" ng-class-even="'even'">
					<td><img ng-src="{{currentCollTopic.userImage}}" width="30" height="30">&nbsp;&nbsp;<span class="commentLength" ng-bind="currentCollTopic.comment.length"></span>&nbsp;/<span class="pv" ng-bind="currentCollTopic.pv"></span>&nbsp;&nbsp;&nbsp;<span class="topicBlock" ng-bind="currentCollTopic.block"></span>&nbsp;&nbsp;&nbsp;<a href="#/showTopic?topicId={{currentCollTopic._id}}"><span ng-bind="currentCollTopic.title"></span></a><small class="floatRight mainDValue"><img ng-src="{{currentCollTopic.finalCommenterImg}}" width="20" height="20" ng-show="currentCollTopic.showFinalImg">&nbsp;&nbsp;<span ng-bind="currentCollTopic.timeDValue"></span></small></td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
			    <li><a class="noHrefA" ng-click="getPage(1)">&laquo;</a></li>
			    <li><a class="noHrefA" ng-repeat="currentPage in currentPages3" ng-click="getPage(currentPage)"><span ng-bind="currentPage"></span></a></li>
			    <li><a class="noHrefA" ng-click="getPage(pageLength3)">&raquo;</a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="col-sm-2 sidebar">
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<div class="marginTB">
			<p>个人信息:</p>
			<a href="#/userInfo?username={{theUser.username}}"><img ng-src="{{theUser.imageUrl}}" width="40" height="40"></a><span ng-bind="theUser.username"></span>
			<br><br>
			<span ng-bind="theUser.sign"></span>
			<!--<a href="#/postTopic"><button class="btn btn-warning postTopicBtn">发布话题</button></a>-->
			<br>
		</div>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<h5>友情链接</h5>
		<hr class="addComment">
		<ul class="noStyle noStyleUl">
			<li><a href="http://stackoverflow.com/" target="_blank"><img src="app/images/stackoverflow.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://github.com/" target="_blank"><img src="app/images/github.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://ruby-china.org/" target="_blank"><img src="app/images/rubychina.png" alt="" class="friendlyLink"></a></li>
			<li><a href="https://www.v2ex.com/" target="_blank"><img src="app/images/v2ex.jpg" alt="" class="friendlyLink"></a></li>
		</ul>
		<br>
	</div>
</div>