body {
	background-color: #e1e1e1;
}
h5 {
	font-size: 12px;
}
li {
	line-height: 22px;
}
/*
	调整bs的class为container的div的宽度
*/
/*.container {
	width: 1300px;
}*/
.navbar {
	background-color: #444;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
  	color: #fff;
}
.articles {
	background-color: #fff;
}
.personalInfo {
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}
.models {
	cursor: pointer;
	width: 220px;
	height: 30px;
}
textarea.topic {
	width: 100%;
}
a.markdownAPI {
	color: #faa;
}
.postTopic {
	background-color: #fff;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
a.github:hover, a.github:visited, a.github:active {
	text-decoration: none;
}
.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}
.floatRight {
	margin: 0;
	padding: 0;
	float: right;
	line-height: 30px;
}
.noPadding {
	padding-left: 0;
	padding-right: 0;
}
.withPadding {
	padding-left: 15px;
	padding-right: 15px;
}
.mid {
	background-color: #e1e1e1;
	height: 15px;
}
.addComment {
	margin-top: 0;
	margin-bottom: 20px;
}
table {
	table-layout: fixed;
}
td {
	word-break: break-all;
	word-wrap: break-word;
}
#result {
	word-wrap:break-word;
	word-break: break-all;
}
.wordWrap {
	word-wrap:break-word;
	word-break: break-all;
}
#showTopicContent {
	word-wrap:break-word;
	word-break: break-all;
}
.commentInner {
	margin-left: 50px;
}
.addReply {
	margin-top: 0;
	margin-bottom: 10px;
}
.atUser {
	color: #8788cc;
}
.atUser:hover {
	text-decoration: underline;
	cursor: pointer;
}
.bottom {
	background-color: #fff;
}
.userInfoH {
	color: #80BD01;
}
.userInfoHr {
	margin-top: 4px;
	margin-bottom: 4px;
}
.prCount {
	color: #808d01;
}
.marginTB {
	margin-top: 5px;
	margin-bottom: 5px;
}
.topicBlock {
	background-color: #033649;
	text-align: center;
	padding: 1px 2px 1px 2px;
	color: #fff;
	font-size: 14px;
	/*
	span是内联元素，忽略宽高
	width: 25px;
	height: 15px;
	*/
}
.commentLength {
	color: #033649;
}
.pv {
	font-size: 14px;
	color: #c8c8a9;
}
.modifyInfo {
	color: #808d01;
}
.noStyle {
	list-style: none;
	padding-left: 0;
}
.friendlyLink {
	width: 80%;
	height: 50px;
}
.tips {
	font-size: 12px;
}
.segmentfault {
	color: #a0a0a0;
}
.segmentfault:hover {
	color: #a0a0a0;
}
.noReplyTopic {
	color: #a0a0a0;
	font-size: 16px;
}
.noReplyTopic:hover {
	color: #a0a0a0;
}
.showTopicInfo {
	font-size: 12px;
}
.mainDValue {
	font-size: 12px;
	color: #808d01;
}
.deleteBtn, .editBtn {
	cursor: pointer;
}
.collectBtn {
	width: 52px;
	height: 34px;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.outForm {
	margin-top: 10%;
	text-align: center;
}
.allForm {
	padding: 15px 30px 15px 30px;
	background: -webkit-linear-gradient(top, #9eccae, #518187);
	background: -moz-linear-gradient(top, #9eccae, #518187);
	text-align: center;
}
.noLeft {
	border-left-width: 0;
}
.welcome {
	color: #002f93;
}
/*.unreadUl {
	list-style: none;
	padding-left: 0;
}*/
.unreadThead {
	color: #80BD01;
}
.unreadTrow {
	font-size: 14px;
}
.unreadCount {
	display: inline-block;
	text-align: center;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 9px;
	background-color: #80BD01;
}
@media (max-width: 400px){
	.container {
		padding: 0;
		margin: 0;
	}
	.navbar {
		margin-bottom: 0;
	}
	.articles {
		padding: 0;
	}
}
@media (max-width: 787px){
	.noStyleUl {
		height: 50px;
		margin-bottom: 2px;
	}
	.noStyleUl li {
		width: 25%;
		float: left;
	}
	.friendlyLink {
		width: 100%;
	}
	.sidebar {
		padding-left: 0;
		padding-right: 0;
	}
	.mid {
		height: 2px;
	}
}
/*.srcCode {
	font-size: 13px;
	color: #000;
}
.srcCode:hover {
	text-decoration: none;
	color: #000;
}
.bottomP {
	color: #b1b1b1;
}*/