body {
	background-color: #e1e1e1;
}
h5 {
	font-size: 12px;
}
.navbar {
	background-color: #444;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
  	color: #fff;
}
.articles {
	background-color: #fff;
}
.personalInfo {
	background-color: #fff;
}
.models {
	cursor: pointer;
	width: 220px;
	height: 30px;
}
textarea.topic {
	width: 100%;
}
a.markdownAPI {
	color: #faa;
}
.postTopic {
	background-color: #fff;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
a.github:hover, a.github:visited, a.github:active {
	text-decoration: none;
}
.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}
.floatRight {
	margin: 0;
	padding: 0;
	float: right;
	line-height: 30px;
}
.noPadding {
	padding-left: 0;
	padding-right: 0;
}
.withPadding {
	padding-left: 15px;
	padding-right: 15px;
}
.mid {
	background-color: #e1e1e1;
	height: 15px;
}
.addComment {
	margin-top: 0;
	margin-bottom: 20px;
}
table {
	table-layout: fixed;
}
td {
	word-break: break-all;
	word-wrap: break-word;
}
#result {
	word-wrap:break-word;
	word-break: break-all;
}
.wordWrap {
	word-wrap:break-word;
	word-break: break-all;
}
#showTopicContent {
	word-wrap:break-word;
	word-break: break-all;
}
.commentInner {
	margin-left: 50px;
}
.addReply {
	margin-top: 0;
	margin-bottom: 10px;
}
.atUser {
	color: #8788cc;
}
.atUser:hover {
	text-decoration: underline;
	cursor: pointer;
}
.bottom {
	background-color: #fff;
}
.userInfoH {
	color: #80BD01;
}
.userInfoHr {
	margin-top: 4px;
	margin-bottom: 4px;
}
.prCount {
	color: #808d01;
}
.marginTB {
	margin-top: 5px;
	margin-bottom: 5px;
}
.topicBlock {
	background-color: #033649;
	text-align: center;
	padding: 1px 2px 1px 2px;
	color: #fff;
	font-size: 14px;
	/*
	span是内联元素，忽略宽高
	width: 25px;
	height: 15px;
	*/
}
.commentLength {
	color: #033649;
}
.pv {
	font-size: 14px;
	color: #c8c8a9;
}
.modifyInfo {
	color: #808d01;
}
.noStyle {
	list-style: none;
	padding-left: 0;
}
.friendlyLink {
	width: 80%;
	height: 50px;
}
.tips {
	font-size: 12px;
}
.segmentfault {
	color: #a0a0a0;
}
.segmentfault:hover {
	color: #a0a0a0;
}
.noReplyTopic {
	color: #a0a0a0;
	font-size: 16px;
}
.noReplyTopic:hover {
	color: #a0a0a0;
}
/*.srcCode {
	font-size: 13px;
	color: #000;
}
.srcCode:hover {
	text-decoration: none;
	color: #000;
}
.bottomP {
	color: #b1b1b1;
}*/