<div class="col-sm-10 articles">
	<h4 class="userInfoH">设置信息</h4>
	<hr class="userInfoHr">
	<br>
	<form class="form-horizontal" ng-submit="update()">
	  <div class="form-group">
	    <label for="inputName3" class="col-sm-2 control-label">设置用户名</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputName3" placeholder="用户名" ng-model="updatedUser.username">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">设置密码</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="密码" ng-model="updatedUser.password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputName3" class="col-sm-2 control-label">个性签名</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputSign3" placeholder="个性签名" ng-model="updatedUser.sign">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">上传头像</label>
	    <div class="col-sm-6">
	      <button class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    accept="image/*" >Select</button>
	    </div>
	    <span class="text-warning">{{message}}</span>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存设置</button>
	    </div>
	  </div>
	</form>
</div>
<div class="col-sm-2">
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<div class="marginTB">
			<p>个人信息:</p>
			<a href="#/userInfo?username={{current_user}}"><img src="{{user_image_url}}" width="40" height="40"></a>{{current_user}}
			<br><br>
			<span>{{current_user_sign}}</span>
			<br>
			<a href="#/postTopic"><button class="btn btn-warning postTopicBtn">发布话题</button></a>
		</div>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo noPadding">
		<h5>友情链接</h5>
		<hr class="addComment">
		<ul class="noStyle">
			<li><a href="http://stackoverflow.com/" target="_blank"><img src="app/images/stackoverflow.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://github.com/" target="_blank"><img src="app/images/github.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://ruby-china.org/" target="_blank"><img src="app/images/rubychina.png" alt="" class="friendlyLink"></a></li>
			<li><a href="http://www.csdn.net/" target="_blank"><img src="app/images/csdn.jpg" alt="" class="friendlyLink"></a></li>
		</ul>
		<br>
	</div>
</div>