<div class="col-sm-10 articles noPadding">
	<div class="withPadding">
		<!--<button class="floatRight btn btn-success" ng-show="canEdit" ng-click="edit()">编辑</button>-->
		<span class="glyphicon glyphicon-pencil floatRight editBtn" ng-show="canEdit" ng-click="edit()"></span>
		<small class="floatRight" ng-show="canEdit">&nbsp;&nbsp;&nbsp;</small>
		<!--<button class="floatRight btn btn-success" ng-show="canEdit" ng-click="delete()">删除</button>-->
		<span class="glyphicon glyphicon-trash floatRight deleteBtn" ng-show="canEdit" ng-click="delete()"></span>
		<h2 class="wordWrap" ng-bind="topic.title"></h2>
		<p class="showTopicInfo">•作者:&nbsp;<span ng-bind="topic.user"></span>&nbsp;&nbsp;&nbsp;&nbsp;•<span ng-bind="topic.pv"></span>次浏览&nbsp;&nbsp;&nbsp;&nbsp;•发布于:&nbsp;<span ng-bind="topic.timeDValue"></span>&nbsp;&nbsp;&nbsp;&nbsp;•最后回复来自:&nbsp;<span ng-bind="finalCommenter"></span>&nbsp;&nbsp;<span ng-bind="finalCommentDate"></span>
			<button class="floatRight btn btn-success collectBtn" ng-click="collect()">收藏</button>
		</p>
		<hr>
		<div id="showTopicContent">
			
		</div>
		<br>
	</div>
	<div class="mid"></div>
	<div class="withPadding comments">
		<table class="table">
			<thead>
				<tr>
					<th><span ng-bind="commentCounts"></span>条回复</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="currentPageComment in currentPageComments" ng-class-odd="'odd'" ng-class-even="'odd'">
					<td><a href="#/userInfo?username={{currentPageComment.commentUser}}"><img ng-src="{{currentPageComment.commentUserImage}}" width="30" height="30"></a>&nbsp;<small><span ng-bind="currentPageComment.commentUser"></span></small>&nbsp;•<small><span ng-bind="currentPageComment.timeDValue"></span></small><small class="floatRight"><!--<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" id="thumbsUp"></span>-->&nbsp;<span class="glyphicon glyphicon-share-alt" aria-hidden="true" id="reply" ng-click="showIt(currentPageComment)"></span></small><p id="{{currentPageComment.commentInner}}" class="commentInner"><a href="#/userInfo?username={{currentPageComment.commentAt}}"><span class="atUser" ng-show="currentPageComment.atUser">@<span ng-bind="currentPageComment.commentAt"></span></span></a>&nbsp;<span ng-bind="currentPageComment.commentInner"></span></p>
					<div class="commentInner" ng-show="currentPageComment.showit">
						<h5>添加回复</h5>
						<hr class="addReply">
						<textarea id="itBotherMe" rows="10" class="topic" ng-model="hehe.reply"></textarea>
						<span class="text-warning" ng-bind="replyNotWritten"></span>
						<div class="form-group">
				            <button type="submit" class="btn btn-primary" ng-click="replyCommenter(currentPageComment)">回复</button>
				      	</div>
					</div>
					</td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
			    <li><a class="noHrefA" ng-click="getPage(1)">&laquo;</a></li>
			    <li><a class="noHrefA" ng-repeat="currentPage in currentPages" ng-click="getPage(currentPage)"><span ng-bind="currentPage"></span></a></li>
			    <li><a class="noHrefA" ng-click="getPage(pageLength)">&raquo;</a></li>
			</ul>
		</nav>
	</div>
	<div class="mid"></div>
	<div class="withPadding forComment" ng-show="authed">
		<!--<div class="addComment">添加回复</div>-->
		<h5>添加回复</h5>
		<hr class="addComment">
		<textarea id="content" rows="10" class="topic" ng-model="comment"></textarea><span class="text-warning" ng-bind="commentNotWritten"></span>
		<div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="replyAuthor()">回复</button>
      	</div>
	</div>
</div>
<div class="col-sm-2 sidebar">
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<div class="marginTB">
			<p>作者:</p>
			<a href="#/userInfo?username={{topic.user}}"><img ng-src="{{topic.userImage}}" width="40" height="40"></a><span ng-bind="topic.user"></span>
			<br><br>
			<span ng-bind="topic.userSign"></span>
		</div>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<h5>无人回复的问题</h5>
		<hr class="addComment">
		<ul class="noStyle">
			<li ng-repeat="noReplyTopic in noReplyTopics"><a href="#/showTopic?topicId={{noReplyTopic._id}}" class="noReplyTopic">•<span ng-bind="noReplyTopic.title"></span></a></li>
		</ul>
	</div>
	<div class="col-sm-12 col-sm-offset-0">
		<div class="mid"></div>
	</div>
	<div class="col-sm-12 col-sm-offset-0 personalInfo">
		<h5>友情链接</h5>
		<hr class="addComment">
		<ul class="noStyle noStyleUl">
			<li><a href="http://stackoverflow.com/" target="_blank"><img src="app/images/stackoverflow.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://github.com/" target="_blank"><img src="app/images/github.jpg" alt="" class="friendlyLink"></a></li>
			<li><a href="https://ruby-china.org/" target="_blank"><img src="app/images/rubychina.png" alt="" class="friendlyLink"></a></li>
			<li><a href="https://www.v2ex.com/" target="_blank"><img src="app/images/v2ex.jpg" alt="" class="friendlyLink"></a></li>
		</ul>
		<br>
	</div>
</div>